---
import { getCloudinaryUrl } from '@utils/cloudinary'
export interface Tech {
  url: string
  text: string
}

export interface Props {
  title: string
  url: string
  repo: string
  tech: Tech[]
  image: string
}

const { title, url, repo, tech, image } = Astro.props
---

<article class='mb-10 px-4 pb-10 bg-base-200 rounded'>
  <div class={`grid grid-cols-1 ${image ? 'md:grid-cols-2' : ''} gap-4`}>
    <div>
      <a href={url} target='_blank' class='link link-hover'>
        <h2 class=''>{title}</h2>
      </a>
      <p><slot /></p>
    </div>
    <div class='py-4'>
      <a href={url} target='_blank block'>
        <div
          class='mockup-browser outline outline-neutral outline-offset-0 hover:outline-offset-4 outline-2
              hover:outline-secondary transition-all rounded'
        >
          <div class='mockup-browser-toolbar'>
            <div class='input'>{url}</div>
          </div>
          <div class='aspect-video px-1 pb-2 max-w-[600]'>
            <img
              src={getCloudinaryUrl(image, {
                width: 600,
                format: 'avif',
                quality: 80,
              })}
              alt={title}
              loading='lazy'
              class='h-full object-cover object-center m-auto'
            />
          </div>
        </div>
      </a>
    </div>
  </div>
  <a href={repo} target='_blank' class='text-lg link link-accent link-hover'
    >Repository link</a
  >
  <h3>Tech stack used</h3>
  <div>
    {
      tech.map(({ url, text }) => (
        <a
          href={url}
          target='_blank'
          aria-label={`Link to ${text}`}
          class='btn btn-neutral btn-sm no-underline m-1'
        >
          {text}
        </a>
      ))
    }
  </div>
</article>
