---
export interface Tech {
  url: string
  text: string
}

export interface Props {
  title: string
  url: string
  repo: string
  tech: Tech[]
  image?: string
}

const { title, url, repo, tech, image } = Astro.props
---

<article
  class='mb-10 px-4 pb-10 bg-base-300 rounded border-top border-t-4 border-primary'
>
  <div class={`grid grid-cols-1 ${image ? 'md:grid-cols-2' : ''} gap-4`}>
    <div>
      <a href={url} target='_blank' class='link link-hover'>
        <h2 class=''>{title}</h2>
      </a>
      <p><slot /></p>
    </div>
    {
      image ? (
        <div class='flex items-center justify-center'>
          <a href={url} target='_blank'>
            <img src={image} alt={title} class='rounded' />
          </a>
        </div>
      ) : null
    }
  </div>
  <a href={repo} target='_blank' class='link link-accent link-hover'
    >Repository link</a
  >
  <h3>Tech stack used</h3>
  <div>
    {
      tech.map(({ url, text }) => (
        <a
          href={url}
          target='_blank'
          class='badge badge-outline badge-info no-underline m-1 hover:text-info
          hover:animate-pulse'
        >
          {text}
        </a>
      ))
    }
  </div>
</article>
