---
import { getCloudinaryUrl, getPredominantColor } from '@utils/cloudinary'
import Layout from './Layout.astro'
import '@styles/global.css'
import '@styles/mdstyles.css'

const { frontmatter } = Astro.props

const sizes = [320, 480, 640]

const background = await getPredominantColor(frontmatter.image.url)
---

<Layout
  title={frontmatter.title}
  metaDescription={frontmatter.description}
  metaImage={getCloudinaryUrl(frontmatter.image.url, {
    width: 1200,
    format: 'webp',
    aspect_ratio: '16:9',
    crop: 'fill',
  })}
>
  <div
    class='max-w-[800px] mx-auto aspect-video mb-10 w-full bg-base-100 rounded-sm'
    style={{
      background,
      backgroundImage: `url('${getCloudinaryUrl(frontmatter.image.url, {
        width: 16,
        format: 'avif',
        effect: 'blur-sm',
        aspect_ratio: '16:9',
        crop: 'fill',
      })}')`,
      backgroundSize: 'cover',
    }}
  >
    <picture class='m-0'>
      {
        sizes.map((size) => (
          <source
            media={`( max-width: ${size}px )`}
            srcset={getCloudinaryUrl(frontmatter.image.url, {
              width: size,
              format: 'avif',
              aspect_ratio: '16:9',
              crop: 'fill',
            })}
          />
        ))
      }
      <img
        src={getCloudinaryUrl(frontmatter.image.url, {
          width: 800,
          format: 'avif',
          aspect_ratio: '16:9',
          crop: 'fill',
        })}
        class='aspect-video mt-0 w-full opacity-0 transition-opacity'
        alt={frontmatter.image.alt}
        id='main-img'
      />
    </picture>
  </div>
  <h1>{frontmatter.title}</h1>
  <slot />
</Layout>

<script>
  import { transitionImage } from '@utils/domUtils'

  const image = document.getElementById('main-img') as HTMLImageElement
  transitionImage(image)
</script>
